<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>



        <!-- <table style="border: 2px solid black; ">
            <tr><td><a href="/">Main Page</a></td></tr>

            <tr><td><a href="/ass1">Task 1</a></td></tr>
            <tr><td><a href="/ass2">Task 2</a></td></tr>
            <tr><td><a href="/ass3">Task 3</a></td></tr>
            <tr><td><a href="/ass4">Task 4</a></td></tr>
        </table> -->
    
    <h4>Task 1</h4><br/>
    <label for="number"> Task 1 </label>
    <form action="/ass1" method="post">
    <input type="text" name="mag" placeholder="Enter Mag">
    <input type="text" name="n" placeholder="Enter number">

    <input type="submit" value="Search">
    </form>

    total time taken to execute the given query: {{ execute_time }}<br>
    <br>
    Time taken in each iterarion:<br>
    <table border = 1>
        <thead>
            
            <th>No.</th>
            <th> Time of exection </th>
            
  
        </thead>
        <tbody>
          {% for t in total_time%}
          <tr>
                <td>{{ loop.index }}</td>
              <td>{{ t }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table> <br>
    <table border = 1>
        <thead>
            <th>No.</th>
            <th>time</th>
            <th>latitude</th>
            <th>longitude</th>
            <th>mag</th>
            <th>place</th>
        </thead>
        <tbody>
          {% for row in x %}
          <tr>
          <td>{{ loop.index }}</td>
          {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
</body>
</html>